<a href="https://colab.research.google.com/github/najlaak1998/finalweb/blob/main/exam1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#1)
amount=float(input("enter the amount="))
print("The Amount=",amount)
print("enter number operater 1 for USD 2 for CD 3 for RS")
currency=int(input("enter number currency="))
dollar=0
cd=0
rs=0

def USD(amount):
    dollar=amount*1.4
    print(dollar)
def CD(amount):
      cd=amount*2
      print(cd)
def RS(amount):
    rs=amount*5
    print(rs)

if(currency==1):
   USD(amount)

elif(currency==2):
   CD(amount)

elif(currency==3):
  RS(amount)

enter the amount=500
The Amount= 500.0
enter number operater 1 for USD 2 for CD 3 for RS
enter number currency=1
700.0

In [11]:
#2)
num1=int(input("enter the number="))
f=(num1*(9/5)+32)
print(f,"F")

enter the number=0
32.0 F

In [13]:
name=input("enter the name:")
print("What your name:",name)
print(len(name))

enter the name:نجلاء
What your name: نجلاء
5

In [7]:
Country=input("enter the Country:")
Asia=["Japan","India","Iraq","Jordan","Kuwait","Lebanon","Oman","Qatar","South Korea","Sri Lanka","Syria","Taiwan","Tajikistan","Thailand","Turkey","Turkmenistan","United Arab Emirates	","Uzbekistan","Vietnam","Yemen"]
European=["Italy","Spain","Ukraine","Romania","Greece"]

if Country in Asia:
  print(Country,"in Asia")
elif Country in European:
  print(Country,"in European")

enter the Country:Greece
Greece in European